  <div class="top-navbar">
            <div class="page-title">
                <h1>{{this.translationService.translate("dashboard_title")}}</h1>
            </div>
            <div class="user-info">
                <div class="user-avatar">EB</div>
                <div>
                    <div class="user-name">{{restaurantName}}</div>
                    <div class="user-role">{{this.translationService.translate("navbar_admin")}}</div>
                </div>
            </div>
        </div>